.chat-app {
  display: flex;
}

.chat-container {
  flex: 3;
  padding: 20px;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.chat-display {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-message.user {
  text-align: right;
  color: blue;
}

.chat-message.assistant {
  text-align: left;
  color: green;
}

.chat-input {
  display: flex;
  align-items: center;
}

textarea {
  flex-grow: 1.5;
  margin-right: 10px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #5f85db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 9rem;
  height: 3rem;
}
button:hover{
  background-color: #4a6dbd;
}