.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
}

.history-list,
.settings-list {
  list-style-type: none;
  padding: 0;
}

.history-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.history-list li:hover {
  text-decoration: underline;
}

.settings-list li {
  margin-top: 20px;
}

.settings-list li:hover {
  text-decoration: underline;
}
