.sidebar {
  flex: 0.6; 
  padding: 20px;
  background-color: #f1f1f1;
}

.history-list,
.settings-list {
  list-style-type: none;
  padding: 0;
}

.history-list button {
  /* margin-bottom: 10px;
  cursor: pointer; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.history-list button:hover {
  /* text-decoration: underline; */
  background-color: #5a5151;
  color: white;
  border-color: #333;

}

.settings-list button {
  display:block;
  width: 12rem;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.settings-list button:hover {
  background-color: #5a5151;
  color: white;
  border-color: #333;

} 

.bottom{
  margin-top: 22rem;
}